
@layer home {
    .homeNav {

        box-sizing: border-box;
        overflow: hidden;
        border-radius: 12px 12px 0;
        box-shadow: 0 2px 16px 0 var(--x_1), inset 0 1px 4px 0 var(--x_2);
    }

    .homeNavBox {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        box-sizing: border-box;
        border-radius: 12px;
        border-color: var(--x_1);
    }

    .homeNavBoxContent {
        border: 1px solid var(--x_3);
        border-radius: 12px 12px 0 0;
        box-sizing: border-box;
        height: calc(100vh - 52px);
        overflow-x: hidden;
        overflow-y: overlay;
        padding-bottom: 32px;
        position: relative;
    }

    .homeNavBoxContentItem {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        color: var(--x_4);
        transition: all 0.3s;

        &:hover {
            color: var(--primary);
        }
    }

    .homeNavBoxDivider {
        background: var(--x_5);
        height: 1px;
        margin: 12px auto;
        width: calc(100% - 32px);
    }

    .filter-bg {
        backdrop-filter: blur(20px);
        background-color: #ebebeb1f;
        border-radius: 12px;
        z-index: -1;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}
